* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: auto;
}

.body {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 5px;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-items > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items > ul > li {
  list-style: none;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav-items > ul > li:hover {
  color: rgb(70, 48, 7);
}

.logo {
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.card {
  width: 200px;
  padding: 10px;
}

.card img {
  width: 100%;
  display: block;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.05);
}

.search-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.search-container > input,
button {
  padding: 10px;
  border: 1px solid #7777;
  border-radius: 10px;
}

.search-container button {
  min-width: 100px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.search-container button:hover {
  background-color: rgb(243, 215, 197);
}

.shimmer {
  margin: 0 20px;
  width: 200px;
  height: 300px;

  border-radius: 10px;
  box-sizing: border-box;
}

.shimmer .shi-img {
  width: 100%;
  height: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: #d4d0d0;
}

.shimmer .shi-div {
  height: 10px;
  background-color: #d4d0d0;
  border-radius: 10px;
  margin: 20px 30px 20px 0;
}

.btn {
  width: 100px;
}
