* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  border: 1px solid black;
}
.nav-items > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items > ul > li {
  list-style: none;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav-items > ul > li:hover {
  color: rgb(70, 48, 7);
}

.logo {
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
